#TableManagerUser {
    font-family: 'Inter', sans-serif;
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    background-color: #ffffff;
}

#TableManagerUser th, #TableManagerUser td {
    padding: 14px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
}

#TableManagerUser th {
    background: #2599ff;
    color: white;
    font-weight: 600;
    font-size: 17px;
    //text-transform: uppercase;
    letter-spacing: 0.5px;
}

#TableManagerUser tr:hover {
    background-color: #b2b2b2;
    transition: background-color 0.3s ease;
}

.btn-edit, .btn-delete {
    border: none;
    padding: 8px 15px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-size: 14px;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
}

.btn-edit {
    background: linear-gradient(135deg, #17a2b8, #21c7e0);
    color: white;
}

.btn-edit:hover {
    background: linear-gradient(135deg, #138496, #0f6674);
    transform: scale(1.05);
    color: #f1f5f9;
    //box-shadow: 0px 4px 8px rgba(23, 162, 184, 0.3);
}

.btn-delete {
    background: linear-gradient(135deg, #dc3545, #fb1128);
    color: white;
    margin-left: 8px;
}

.btn-delete:hover {
    background: linear-gradient(135deg, #c82333, #89111b);
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(220, 53, 69, 0.3);
}
